# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [37]:
# import numpy and pandas
# Libraries
import pandas as pd # manipulate dataframes
import numpy as np # numerical python
import matplotlib.pyplot as plt # viz
import scipy.stats as sts
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
data = pd.read_csv('../pokemon.csv')
pokemon = data.copy()

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon["Legendary"].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:
points_legend_df = pokemon.groupby('Legendary')['Total'].agg(['mean', 'std']).round(2)
points_legend_df

             mean     std
Legendary
False      417.21  106.76
True       637.38   60.94

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [ ]:
# Your code here:
# Extract total points for Legendary and non legendary Pokemon
legendary = pokemon[pokemon["Legendary"] == True]["Total"]
non_legendary = pokemon[pokemon["Legendary"] == False]["Total"]

# Perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(legendary, non_legendary, equal_var=False) # equal_var False as we do not have any information about the population
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

Test Statistic (t): 25.83
P-Value: 0.00000000000000000000000000000000000000000000009358

What do you conclude from this test? Write your conclusions below.

In [18]:
# Your conclusions here:
#  We set out significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for legendary and non-legendary Pokemon are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points for legendary and non-legendary Pokemon are significantly different.")

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points for legendary and non-legendary Pokemon are significantly different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [19]:
# Your code here:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [20]:
# Your code here:
# Create a new column with True values when it is a Type 1 water Pokemon, else false
pokemon['Type1_water'] = pokemon['Type 1'] == 'Water'

# Compare the mean and std of total points for water Pokemon to all other Pokemon
points_water_df = pokemon.groupby('Type1_water')['Total'].agg(['mean', 'std']).round(2)
points_water_df

               mean     std
Type1_water
False        435.86  121.09
True         430.46  113.19

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [ ]:
# Your code here:
# Extract total points for Legendary and non legendary Pokemon
water = pokemon[pokemon["Type1_water"] == True]["Total"]
non_water = pokemon[pokemon["Type1_water"] == False]["Total"]

# Perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(water, non_water, equal_var=False) # equal_var False as we do not have any information about the population
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.2f}")

Test Statistic (t): -0.46
P-Value: 0.64

Write your conclusion below.

In [23]:
# Your conclusions here:
#  We set out significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for water and non-water type Pokemon are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points for water and non-water type Pokemon are significantly different.")

Fail to Reject the Null Hypothesis: The mean total points for water and non-water type Pokemon are not significantly different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [26]:
# Your code here:
# Perform paired t-test
t_stat, p_value = sts.ttest_rel(pokemon["Attack"], pokemon["Defense"])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")

Test Statistic (t): 4.33
P-Value: 0.000017

Describe the results of the test in the cell below.

In [28]:
# Your conclusions here:
# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between each Pokemon's defense and attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between each Pokemon's defense and attack scores.")

Reject the Null Hypothesis: There is a significant difference between each Pokemon's defense and attack scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [30]:
# Your code here:
# Perform paired t-test
t_stat, p_value = sts.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")

Test Statistic (t): 0.85
P-Value: 0.393369

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between each Pokemon's special defense and special attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between each Pokemon's special defense and special attack scores.")

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:
t_stat, p_value = sts.ttest_1samp(pokemon["Defense"]-pokemon["Attack"], popmean=0) # we want to test whether the mean of the differences is zero
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}") # We can confirm that the mean of the difference is 0

Test Statistic (t): -4.33
P-Value: 0.000017

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [39]:
# Your code here:
legend_type_crosstab = pd.crosstab(pokemon['Legendary'], pokemon['Type1_water'])
legend_type_crosstab

Type1_water  False  True
Legendary
False          627    108
True            61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [40]:
# Your code here:
chi2_stats, chi2_pvalue, _, _ = chi2_contingency(legend_type_crosstab)
chi2_pvalue

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [41]:
# Your answer here:
# Significance level
alpha = 0.05

# Decision-Making
if chi2_pvalue > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between a Pokemon being legenadary or not and a Pokemon being Type 1 water or not.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between a Pokemon being legenadary or not and a Pokemon being Type 1 water or not.")

Fail to Reject the Null Hypothesis: No significant difference between a Pokemon being legenadary or not and a Pokemon being Type 1 water or not.